@import 'https://fonts.googleapis.com/css?family=Baloo+Paaji|Ubuntu';

@background-lighter: #fdfda8;
@background-darker: darken(@background-lighter, 10%);
@background-error: #ffaaaa;
@text-enfasis: #fe44ff; 
@text-normal: #cd22cc;
@text-error: #cc1111;

body {
  font-family: 'Ubuntu';
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  color: @text-normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Baloo Paaji', cursive;
  font-size: 40px;
}

label, input, select {
  display: block;
  margin: 10px;
  font-size: 20px;
  
}

.container {
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: @background-lighter;

  .header {
    background-color: @background-darker;
    color: @text-enfasis;
    padding: 10px;

    h1 {
      margin: 25px 0px 0px 0px;
      line-height: 18px;
    }
  }

  .content {
  
    padding: 20px 0px 0px 0px;

  }
}

.alert {
  border: 1px solid grey;
  border-radius: 5px;
  opacity: 0;
  width: 100%;
  padding: 10px;
  transition: all 0.3s ease-in;
  box-sizing:border-box;

  &.error {
    color: @text-error;
    border-color: @text-error;  
    opacity: 1;
  }
}

.row {
  overflow: hidden;
  width: 100%;
  padding: 0px 10px;
  box-sizing:border-box;
  
  &:after {
    clear: both;
  }
}

.col-50 {
  width: 100%;
  float: none;
}

.col-100 {
  width: 100%;
}

@media (min-width: 768px) {
  
  .container {
    width: 740px;
    margin: 0 auto;
    padding: 0;
  }

  .col-50 {
    float: left;
    width: 50%;
  }
}